<#
    // all common data between assembly information and nuspec package are stored here
    var Version = "0.1.3.1";
    var Title = "Blobber";
    var Company = "openstore.craponne.fr";
    var License = "MIT License";
    var LicenseUrl = "http://opensource.org/licenses/mit-license.php";
    var Description = "Embeds (by default) or merges assemblies. Also solves the references problems. Fine-graind configuration is possible by adding a 'Blobber' file to target projet.";
#>